@model VenusTicariOtomasyon.Models.Siniflar.Departmanlar
@{
    ViewBag.Title = "DepartmanGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Yeni Departman Ekle</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                            <li class="breadcrumb-item active">Yeni Departman Ekle</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <!-- general form elements -->
                        <div class="card card-secondary">
                            <div class="card-header">
                                <h3 class="card-title">Yeni Departman Ekle</h3>
                            </div>
                            <!-- /.card-header -->
                            <!-- form start -->
                            @using (Html.BeginForm("DepartmanGuncelle", "Departmanlar", FormMethod.Post))
                            {
                                <div class="card-body">
                                    <div class="form-group">
                                        @Html.HiddenFor(x => x.DepartmanID)
                                        @Html.Label("Departman Adı")
                                        @Html.TextBoxFor(x => x.DepartmanAd, new { @class = "form-control" })
                                    </div>
                                    <div class="form-group">
                                        @Html.Label("Durum")
                                        @Html.TextBoxFor(x => x.Durum, new { @class = "form-control" })
                                    </div>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-secondary">Departman Güncelle</button>
                                </div>
                            }
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>
        </section>
    </div>

